<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.mapper.SQLMapper">
<!--getUserByLike(@Param("username") String username)-->
<!--    <select id="getUserByLike" resultType="User">-->
<!--        select * from t_user where username like '%${username}%'-->
<!--    </select>-->

<!--    &lt;!&ndash;getUserByLike(@Param("username") String username)&ndash;&gt;-->
<!--    <select id="getUserByLike" resultType="User">-->
<!--        select * from t_user where username like concat('%',#{username},'%')-->
<!--    </select>-->

    <!--getUserByLike(@Param("username") String username)-->
    <select id="getUserByLike" resultType="User">
        select * from t_user where username like "%"#{username}"%"
    </select>

<!--    int deleteMore(@Param("ids") String ids);-->
    <delete id="deleteMore">
        delete from t_user where id in (${ids})
    </delete>

<!--    List<User> getUserByTableName(@Param("tableName") String tableName);-->
    <select id="getUserByTableName" resultType="User">
        select * from  ${tableName}
    </select>

<!--
insertUser(User user);
useGeneratedKeys 设置当前标签中的sql使用了自增的id
keyProperty  将自增的主键的值赋给传输到映射文件中参数的某个属性
-->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into t_user values (null,#{username},#{password},#{age},#{sex},#{email})
    </insert>
</mapper>